# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python


# Virtual Environment
.venv/
venv/
ENV/
env/
datas/
images/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
*.png
*.jpg
*.jpeg
*.csv
backtest_result*.jpg
backtest_result*.png
trade_state.json
*.joblib
*.pth
*.pkl
*.pt
*.pth.tar
*.pkl.tar
*.pt.tar
*.pth.tar.gz
*.pkl.tar.gz
*.pt.tar.gz

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

